/wp-content/themes/gtmax-theme/tests
/wp-content/themes/gtmax-theme/node_modules/@playwright
/wp-content/themes/gtmax-theme/node_modules/playwright-core
/wp-content/themes/gtmax-theme/node_modules/playwright
wp-content/themes/gtmax-theme/node_modules/.bin/playwright
wp-content/themes/gtmax-theme/node_modules/.bin/playwright-core
wp-content/themes/gtmax-theme/node_modules/.bin/playwright-core.cmd
wp-content/themes/gtmax-theme/node_modules/.bin/playwright-core.ps1
wp-content/themes/gtmax-theme/node_modules/.bin/playwright.cmd
wp-content/themes/gtmax-theme/node_modules/.bin/playwright.ps1
wp-content/themes/gtmax-theme.zip
